include LICENSE
include README.md
include issuelabeler/auth.conf.sample
include issuelabeler/rules.conf
include issuelabeler/static/*
include issuelabeler/templates/*
recursive-include tests .*
prune tests/__pycache__
recursive-include docs .*
prune docs/_build
