{"recorded_with": "betamax/0.8.0", "http_interactions": [{"recorded_at": "2016-10-31T20:33:24", "response": {"headers": {"Last-Modified": "Tue, 11 Oct 2016 18:29:42 GMT", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "ETag": "\"99ff7758227eed1066f8c74b723d5246\"", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477949394", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4959", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8"}, "body": {"string": "{\"id\":459542380,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/bot\",\"name\":\"bot\",\"color\":\"0000ff\",\"default\":false}", "encoding": "utf-8"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/bot", "status": {"message": "OK", "code": 200}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/bot", "method": "GET"}}, {"recorded_at": "2016-10-31T20:33:30", "response": {"headers": {"Last-Modified": "Tue, 11 Oct 2016 18:29:27 GMT", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "ETag": "\"bb7fa32d960b112ee271716def398798\"", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477949394", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4958", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8"}, "body": {"string": "{\"id\":459542256,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/FIT\",\"name\":\"FIT\",\"color\":\"238cec\",\"default\":false}", "encoding": "utf-8"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/FIT", "status": {"message": "OK", "code": 200}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/FIT", "method": "GET"}}, {"recorded_at": "2016-10-31T20:33:31", "response": {"headers": {"Last-Modified": "Tue, 11 Oct 2016 18:29:40 GMT", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "ETag": "\"df9978553713aa841ba16f2ad4b6bbae\"", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477949394", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4957", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8"}, "body": {"string": "{\"id\":459542358,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/hexa\",\"name\":\"hexa\",\"color\":\"00ff00\",\"default\":false}", "encoding": "utf-8"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/hexa", "status": {"message": "OK", "code": 200}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/hexa", "method": "GET"}}, {"recorded_at": "2016-10-31T20:33:31", "response": {"headers": {"Last-Modified": "Tue, 11 Oct 2016 18:29:37 GMT", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "ETag": "\"a30c7f594e6f7948584d03006ce71b38\"", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477949394", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4956", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8"}, "body": {"string": "{\"id\":459542321,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv4\",\"name\":\"ipv4\",\"color\":\"66cccc\",\"default\":false}", "encoding": "utf-8"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv4", "status": {"message": "OK", "code": 200}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv4", "method": "GET"}}]}