{"http_interactions": [{"response": {"body": {"string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#get-a-single-label\"}", "encoding": "utf-8"}, "headers": {"X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Reset": "1477926436", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4893", "Content-Type": "application/json; charset=utf-8", "Status": "404 Not Found", "X-Accepted-OAuth-Scopes": "repo"}, "status": {"message": "Not Found", "code": 404}, "url": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/critical"}, "request": {"uri": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/critical", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}, "recorded_at": "2016-10-31T14:42:04"}, {"response": {"body": {"string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#get-a-single-label\"}", "encoding": "utf-8"}, "headers": {"X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Reset": "1477926436", "Content-Type": "application/json; charset=utf-8", "X-GitHub-Media-Type": "github.v3; format=json", "X-Rate[...]
