{"recorded_with": "betamax/0.8.0", "http_interactions": [{"response": {"headers": {"X-RateLimit-Limit": "5000", "Status": "200 OK", "X-RateLimit-Remaining": "4985", "X-RateLimit-Reset": "1477932645", "ETag": "\"2744de1c952e13891940ee42da583e30\"", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8", "Last-Modified": "Mon, 31 Oct 2016 15:50:52 GMT", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"}, "status": {"code": 200, "message": "OK"}, "body": {"encoding": "utf-8", "string": "{\"id\":472437235,\"url\":\"https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/test1\",\"name\":\"test1\",\"color\":\"0000ff\",\"default\":false}"}, "url": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/test1"}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"encoding": "utf-8", "string": ""}, "uri": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/test1", "method": "GET"}, "recorded_at": "2016-10-31T15:50:52"}, {"response": {"headers": {"X-RateLimit-Limit": "5000", "Status": "200 OK", "X-RateLimit-Remaining": "4983", "X-RateLimit-Reset": "1477932645", "ETag": "\"24244499877f4c99b0deffedfee4c7b6\"", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8", "Last-Modified": "Mon, 31 Oct 2016 15:50:53 GMT", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"}, "status": {"code": 200, "message": "OK"}, "body": {"encoding": "utf-8", "string": "{\"id\":472437250,\"url\":\"https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/test2\",\"name\":\"test2\",\"color\":\"ff0000\",\"default\":false}"}, "url": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/test2"}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"encoding": "utf-8", "string": ""}, "uri": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/test2", "method": "GET"}, "recorded_at": "2016-10-31T15:50:53"}, {"response": {"headers": {"X-RateLimit-Limit": "5000", "Status": "201 Created", "X-RateLimit-Remaining": "4982", "Location": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/test3", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Reset": "1477932645", "ETag": "\"4cc123a39af0176ca2d9940b1693a93f\"", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8", "X-Accepted-OAuth-Scopes": ""}, "status": {"code": 201, "message": "Created"}, "body": {"encoding": "[...]
