{"recorded_with": "betamax/0.8.0", "http_interactions": [{"recorded_at": "2016-11-01T15:47:24", "response": {"status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/issues/30/comments", "body": {"string": "[{\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/issues/comments/257600059\",\"html_url\":\"https://github.com/<USERNAME>/MI-PYT-TestRepo/issues/30#issuecomment-257600059\",\"issue_url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/issues/30\",\"id\":257600059,\"user\":{\"login\":\"pklejch\",\"id\":22452564,\"avatar_url\":\"https://avatars.githubusercontent.com/u/22452564?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/pklejch\",\"html_url\":\"https://github.com/pklejch\",\"followers_url\":\"https://api.github.com/users/pklejch/followers\",\"following_url\":\"https://api.github.com/users/pklejch/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pklejch/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pklejch/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pklejch/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pklejch/orgs\",\"repos_url\":\"https://api.github.com/users/pklejch/repos\",\"events_url\":\"https://api.github.com/users/pklejch/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pklejch/received_events\",\"type\":\"User\",\"site_admin\":false},\"created_at\":\"2016-11-01T15:37:55Z\",\"updated_at\":\"2016-11-01T15:37:55Z\",\"body\":\"Hello\"}]", "encoding": "utf-8"}, "headers": {"X-RateLimit-Remaining": "4863", "ETag": "\"d0c1efd3eccf24f03336cd882f46f77b\"", "Content-Type": "application/json; charset=utf-8", "X-GitHub-Media-Type": "github.v3; format=json", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Reset": "1478017570", "X-Accepted-OAuth-Scopes": "public_repo, repo"}}, "request": {"uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/issues/30/comments", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}}]}