{"recorded_with": "betamax/0.8.0", "http_interactions": [{"recorded_at": "2016-11-01T15:47:15", "response": {"status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/bot", "body": {"string": "{\"id\":459542380,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/bot\",\"name\":\"bot\",\"color\":\"0000ff\",\"default\":false}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Remaining": "4874", "ETag": "\"99ff7758227eed1066f8c74b723d5246\"", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "5000", "Status": "200 OK", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Reset": "1478017570", "Last-Modified": "Tue, 11 Oct 2016 18:29:42 GMT", "X-Accepted-OAuth-Scopes": "repo"}}, "request": {"uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/bot", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}}, {"recorded_at": "2016-11-01T15:47:16", "response": {"status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/FIT", "body": {"string": "{\"id\":459542256,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/FIT\",\"name\":\"FIT\",\"color\":\"238cec\",\"default\":false}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Remaining": "4873", "ETag": "\"bb7fa32d960b112ee271716def398798\"", "Content-Type": "application/json; charset=utf-8", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "5000", "Last-Modified": "Tue, 11 Oct 2016 18:29:27 GMT", "Status": "200 OK", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Reset": "1478017570", "X-Accepted-OAuth-Scopes": "repo"}}, "request": {"uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/FIT", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}}, {"recorded_at": "2016-11-01T15:47:16", "response": {"status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/hexa", "body": {"string": "{\"id\":459542358,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/hexa\",\"name\":\"hexa\",\"color\":\"00ff00\",\"default\":false}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Remaining": "4872", "ETag": "\"df9978553713aa841ba16f2ad4b6bbae\"", "X-GitHub-Media-Type": "github.v3; format=json", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Reset": "1478017570", "Last-Modified": "Tue, 11 Oct 2016 18:29:40 GMT", "X-Accepted-OAuth-Scopes": "repo"}}, "request": {"uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/hexa", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}}, {"recorded_at": "2016-11-01T15:47:17", "response": {"status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv4", "body": {"string": "{\"id\":459542321,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv4\",\"name\":\"ipv4\",\"color\":\"66cccc\",\"default\":false}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Remaining": "4871", "ETag": "\"a30c7f594e6f7948584d03006ce71b38\"", "Content-Type": "application/json; charset=utf-8", "X-GitHub-Media-Type": "github.v3; format=json", "Status": "200 OK", "Last-Modified": "Tue, 11 Oct 2016 18:29:37 GMT", "X-RateLimit-Limit": "5000", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Reset": "1478017570", "X-Accepted-OAuth-Scopes": "repo"}}, "request": {"uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv4", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}}]}