{"recorded_with": "betamax/0.8.0", "http_interactions": [{"recorded_at": "2016-10-31T15:50:52", "response": {"headers": {"X-RateLimit-Remaining": "4985", "Status": "200 OK", "ETag": "\"2744de1c952e13891940ee42da583e30\"", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Last-Modified": "Mon, 31 Oct 2016 15:50:52 GMT", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Reset": "1477932645"}, "body": {"string": "{\"id\":472437235,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/test1\",\"name\":\"test1\",\"color\":\"0000ff\",\"default\":false}", "encoding": "utf-8"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/test1", "status": {"code": 200, "message": "OK"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/test1", "headers": {"Authorization": "token <TOKEN>"}}}, [...]
{"recorded_at": "2016-10-31T19:39:34", "response": {"body": {"string": "{\"id\":472574893,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/RVEKOwH9EG\",\"name\":\"RVEKOwH9EG\",\"color\":\"0000ff\",\"default\":false}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Remaining": "4950", "Status": "200 OK", "ETag": "\"1bdd825544c647b60210e9cb38f2d42d\"", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Last-Modified": "Mon, 31 Oct 2016 19:39:33 GMT", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/RVEKOwH9EG", "status": {"code": 200, "message": "OK"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/RVEKOwH9EG", "headers": {"Authorization": "token <TOKEN>"}}}, {"recorded_at": "2016-10-31T19:39:40", "response": {"body": {"string": "{\"id\":472574944,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/HxjC7E3oVp\",\"name\":\"HxjC7E3oVp\",\"color\":\"ff0000\",\"default\":false}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Remaining": "4948", "Status": "200 OK", "ETag": "\"fd7150aa0db1b192b27050f0257ee3d3\"", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Last-Modified": "Mon, 31 Oct 2016 19:39:39 GMT", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/HxjC7E3oVp", "status": {"code": 200, "message": "OK"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/HxjC7E3oVp", "headers": {"Authorization": "token <TOKEN>"}}}, {"recorded_at": "2016-10-31T19:39:51", "response": {"body": {"string": "{\"id\":472575043,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/oONMBVPkEy\",\"name\":\"oONMBVPkEy\",\"color\":\"00ff00\",\"default\":false}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Remaining": "4946", "Status": "200 OK", "ETag": "\"f42edb7def7448bc6b92d196ced8fa62\"", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Last-Modified": "Mon, 31 Oct 2016 19:39:48 GMT", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/oONMBVPkEy", "status": {"code": 200, "message": "OK"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/oONMBVPkEy", "headers": {"Authorization": "token <TOKEN>"}}}, {"recorded_at": "2016-10-31T19:55:50", "response": {"body": {"string": "{\"id\":472582928,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/XbkOyFPWvK\",\"name\":\"XbkOyFPWvK\",\"color\":\"0000ff\",\"default\":false}", "encoding": "utf-8"}, "headers": {"Status": "200 OK", "ETag": "\"e6e18b54fc6d0c2c68f7cc43e789ce97\"", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4929", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Last-Modified": "Mon, 31 Oct 2016 19:55:50 GMT", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/XbkOyFPWvK", "status": {"code": 200, "message": "OK"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/XbkOyFPWvK"}}, {"recorded_at": "2016-10-31T19:55:51", "response": {"body": {"string": "{\"id\":472582943,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/Hm2EeXp4UL\",\"name\":\"Hm2EeXp4UL\",\"color\":\"ff0000\",\"default\":false}", "encoding": "utf-8"}, "headers": {"Status": "200 OK", "ETag": "\"f2f12c36a777bef63676141a6c98fa0d\"", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4927", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Last-Modified": "Mon, 31 Oct 2016 19:55:50 GMT", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/Hm2EeXp4UL", "status": {"code": 200, "message": "OK"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/Hm2EeXp4UL"}}, {"recorded_at": "2016-10-31T19:55:51", "response": {"body": {"string": "{\"id\":472582951,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/6Z4uAs3GVo\",\"name\":\"6Z4uAs3GVo\",\"color\":\"00ff00\",\"default\":false}", "encoding": "utf-8"}, "headers": {"Status": "201 Created", "ETag": "\"77d96bde237b1f1fe1940141f09e3694\"", "X-Accepted-OAuth-Scopes": "", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4926", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Location": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/6Z4uAs3GVo", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels", "status": {"code": 201, "message": "Created"}}, "request": {"body": {"string": "{\"name\": \"6Z4uAs3GVo\", \"color\": \"00ff00\"}", "encoding": "utf-8"}, "method": "POST", "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels"}}, {"recorded_at": "2016-10-31T19:55:52", "response": {"body": {"string": "{\"id\":472582951,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/6Z4uAs3GVo\",\"name\":\"6Z4uAs3GVo\",\"color\":\"00ff00\",\"default\":false}", "encoding": "utf-8"}, "headers": {"Status": "200 OK", "ETag": "\"77d96bde237b1f1fe1940141f09e3694\"", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4925", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Last-Modified": "Mon, 31 Oct 2016 19:55:51 GMT", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/6Z4uAs3GVo", "status": {"code": 200, "message": "OK"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/6Z4uAs3GVo"}}]}