{"recorded_with": "betamax/0.8.0", "http_interactions": [{"recorded_at": "2016-10-31T19:39:34", "response": {"headers": {"Last-Modified": "Mon, 31 Oct 2016 19:39:33 GMT", "X-RateLimit-Remaining": "4950", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "ETag": "\"1bdd825544c647b60210e9cb38f2d42d\"", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477945589", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/RVEKOwH9EG", "body": {"string": "{\"id\":472574893,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/RVEKOwH9EG\",\"name\":\"RVEKOwH9EG\",\"color\":\"0000ff\",\"default\":false}", "encoding": "utf-8"}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/RVEKOwH9EG", "method": "GET"}}, {"recorded_at": "2016-10-31T19:39:40", "response": {"headers": {"Last-Modified": "Mon, 31 Oct 2016 19:39:39 GMT", "X-RateLimit-Remaining": "4948", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "ETag": "\"fd7150aa0db1b192b27050f0257ee3d3\"", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477945589", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/HxjC7E3oVp", "body": {"string": "{\"id\":472574944,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/HxjC7E3oVp\",\"name\":\"HxjC7E3oVp\",\"color\":\"ff0000\",\"default\":false}", "encoding": "utf-8"}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/HxjC7E3oVp", "method": "GET"}}, {"recorded_at": "2016-10-31T19:39:51", "response": {"headers": {"Last-Modified": "Mon, 31 Oct 2016 19:39:48 GMT", "X-RateLimit-Remaining": "4946", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "ETag": "\"f42edb7def7448bc6b92d196ced8fa62\"", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477945589", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/oONMBVPkEy", "body": {"string": "{\"id\":472575043,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/oONMBVPkEy\",\"name\":\"oONMBVPkEy\",\"color\":\"00ff00\",\"default\":false}", "encoding": "utf-8"}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/oONMBVPkEy", "method": "GET"}}, {"recorded_at": "2016-10-31T19:55:50", "response": {"headers": {"Last-Modified": "Mon, 31 Oct 2016 19:55:50 GMT", "X-RateLimit-Remaining": "4929", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "ETag": "\"e6e18b54fc6d0c2c68f7cc43e789ce97\"", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477945589", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/XbkOyFPWvK", "body": {"string": "{\"id\":472582928,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/XbkOyFPWvK\",\"name\":\"XbkOyFPWvK\",\"color\":\"0000ff\",\"default\":false}", "encoding": "utf-8"}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/XbkOyFPWvK", "method": "GET"}}, {"recorded_at": "2016-10-31T19:55:51", "response": {"headers": {"Last-Modified": "Mon, 31 Oct 2016 19:55:50 GMT", "X-RateLimit-Remaining": "4927", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "ETag": "\"f2f12c36a777bef63676141a6c98fa0d\"", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477945589", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/Hm2EeXp4UL", "body": {"string": "{\"id\":472582943,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/Hm2EeXp4UL\",\"name\":\"Hm2EeXp4UL\",\"color\":\"ff0000\",\"default\":false}", "encoding": "utf-8"}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/Hm2EeXp4UL", "method": "GET"}}, {"recorded_at": "2016-10-31T19:55:52", "response": {"headers": {"Last-Modified": "Mon, 31 Oct 2016 19:55:51 GMT", "X-RateLimit-Remaining": "4925", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "ETag": "\"77d96bde237b1f1fe1940141f09e3694\"", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477945589", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/6Z4uAs3GVo", "body": {"string": "{\"id\":472582951,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/6Z4uAs3GVo\",\"name\":\"6Z4uAs3GVo\",\"color\":\"00ff00\",\"default\":false}", "encoding": "utf-8"}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/6Z4uAs3GVo", "method": "GET"}}, {"recorded_at": "2016-10-31T20:18:58", "response": {"headers": {"X-RateLimit-Reset": "1477945589", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4909", "Content-Type": "application/json; charset=utf-8", "X-Accepted-OAuth-Scopes": "", "Status": "422 Unprocessable Entity", "X-GitHub-Media-Type": "github.v3; format=json", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"}, "status": {"message": "Unprocessable Entity", "code": 422}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels", "body": {"string": "{\"message\":\"Validation Failed\",\"errors\":[{\"resource\":\"Label\",\"code\":\"already_exists\",\"field\":\"name\"}],\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#create-a-label\"}", "encoding": "utf-8"}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "{\"name\": \"test3\", \"color\": \"00ff00\"}", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels", "method": "POST"}}, {"recorded_at": "2016-10-31T20:33:34", "response": {"headers": {"Last-Modified": "Mon, 31 Oct 2016 15:50:52 GMT", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "ETag": "\"2744de1c952e13891940ee42da583e30\"", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477949394", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4952", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8"}, "body": {"string": "{\"id\":472437235,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/test1\",\"name\":\"test1\",\"color\":\"0000ff\",\"default\":false}", "encoding": "utf-8"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/test1", "status": {"message": "OK", "code": 200}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/test1", "method": "GET"}}, [...]
