{"recorded_with": "betamax/0.8.0", "http_interactions": [{"response": {"headers": {"X-RateLimit-Reset": "1477932645", "X-RateLimit-Limit": "5000", "Status": "404 Not Found", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Remaining": "4989", "Content-Type": "application/json; charset=utf-8", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-Accepted-OAuth-Scopes": "repo"}, "status": {"code": 404, "message": "Not Found"}, "body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#get-a-single-label\"}"}, "url": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/critical"}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"encoding": "utf-8", "string": ""}, "uri": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/critical", "method": "GET"}, "recorded_at": "2016-10-31T15:50:50"}, {"response": {"headers": {"X-Accepted-OAuth-Scopes": "repo", "X-RateLimit-Limit": "5000", "Status": "404 Not Found", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Remaining": "4988", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Reset": "1477932645", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"}, "status": {"code": 404, "message": "Not Found"[...]
