{"recorded_with": "betamax/0.8.0", "http_interactions": [{"recorded_at": "2016-10-31T19:55:44", "response": {"body": {"string": "{\"id\":459542380,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/bot\",\"name\":\"bot\",\"color\":\"0000ff\",\"default\":false}", "encoding": "utf-8"}, "headers": {"Status": "200 OK", "ETag": "\"99ff7758227eed1066f8c74b723d5246\"", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4937", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Last-Modified": "Tue, 11 Oct 2016 18:29:42 GMT", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/bot", "status": {"code": 200, "message": "OK"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/bot"}}, {"recorded_at": "2016-10-31T19:55:45", "response": {"body": {"string": "{\"id\":459542256,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/FIT\",\"name\":\"FIT\",\"color\":\"238cec\",\"default\":false}", "encoding": "utf-8"}, "headers": {"Status": "200 OK", "ETag": "\"bb7fa32d960b112ee271716def398798\"", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4936", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Last-Modified": "Tue, 11 Oct 2016 18:29:27 GMT", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/FIT", "status": {"code": 200, "message": "OK"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/FIT"}}, {"recorded_at": "2016-10-31T19:55:46", "response": {"body": {"string": "{\"id\":459542358,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/hexa\",\"name\":\"hexa\",\"color\":\"00ff00\",\"default\":false}", "encoding": "utf-8"}, "headers": {"Status": "200 OK", "ETag": "\"df9978553713aa841ba16f2ad4b6bbae\"", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4935", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Last-Modified": "Tue, 11 Oct 2016 18:29:40 GMT", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/hexa", "status": {"code": 200, "message": "OK"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/hexa"}}, {"recorded_at": "2016-10-31T19:55:46", "response": {"body": {"string": "{\"id\":459542321,\"url\":\"https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv4\",\"name\":\"ipv4\",\"color\":\"66cccc\",\"default\":false}", "encoding": "utf-8"}, "headers": {"Status": "200 OK", "ETag": "\"a30c7f594e6f7948584d03006ce71b38\"", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4934", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "Last-Modified": "Tue, 11 Oct 2016 18:29:37 GMT", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv4", "status": {"code": 200, "message": "OK"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv4"}}]}