{"recorded_with": "betamax/0.8.0", "http_interactions": [{"response": {"headers": {"X-RateLimit-Limit": "5000", "Status": "200 OK", "X-RateLimit-Remaining": "4993", "X-RateLimit-Reset": "1477932645", "ETag": "\"99ff7758227eed1066f8c74b723d5246\"", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8", "Last-Modified": "Tue, 11 Oct 2016 18:29:42 GMT", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"}, "status": {"code": 200, "message": "OK"}, "body": {"encoding": "utf-8", "string": "{\"id\":459542380,\"url\":\"https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/bot\",\"name\":\"bot\",\"color\":\"0000ff\",\"default\":false}"}, "url": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/bot"}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"encoding": "utf-8", "string": ""}, "uri": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/bot", "method": "GET"}, "recorded_at": "2016-10-31T15:50:48"}, {"response": {"headers": {"X-RateLimit-Limit": "5000", "Status": "200 OK", "X-RateLimit-Remaining": "4992", "X-RateLimit-Reset": "1477932645", "ETag": "\"bb7fa32d960b112ee271716def398798\"", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8", "Last-Modified": "Tue, 11 Oct 2016 18:29:27 GMT", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, del[...]
