{"recorded_with": "betamax/0.8.0", "http_interactions": [{"recorded_at": "2016-10-31T20:33:32", "response": {"headers": {"X-RateLimit-Reset": "1477949394", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4955", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-Accepted-OAuth-Scopes": "repo", "Status": "404 Not Found", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8"}, "body": {"string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#get-a-single-label\"}", "encoding": "utf-8"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/critical", "status": {"message": "Not Found", "code": 404}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/critical", "method": "GET"}}, {"recorded_at": "2016-10-31T20:33:33", "response": {"headers": {"X-RateLimit-Reset": "1477949394", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4954", "X-GitHub-Media-Type": "github.v3; format=json", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "Content-Type": "application/json; charset=utf-8", "X-Accepted-OAuth-Scopes": "repo", "Status": "404 Not Found"}, "body": {"string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#get-a-single-label\"}", "encoding": "utf-8"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/nonexistentlabel", "status": {"message": "Not Found", "code": 404}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/nonexistentlabel", "method": "GET"}}, {"recorded_at": "2016-10-31T20:33:33", "response": {"headers": {"X-RateLimit-Reset": "1477949394", "X-RateLimit-Limit": "5000", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Remaining": "4953", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-Accepted-OAuth-Scopes": "repo", "Status": "404 Not Found", "Content-Type": "application/json; charset=utf-8"}, "body": {"string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#get-a-single-label\"}", "encoding": "utf-8"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv6", "status": {"message": "Not Found", "code": 404}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv6", "method": "GET"}}]}