{"recorded_with": "betamax/0.8.0", "http_interactions": [{"recorded_at": "2016-10-31T19:55:47", "response": {"body": {"string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#get-a-single-label\"}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Limit": "5000", "Status": "404 Not Found", "X-RateLimit-Remaining": "4933", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/critical", "status": {"code": 404, "message": "Not Found"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/critical"}}, {"recorded_at": "2016-10-31T19:55:48", "response": {"body": {"string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#get-a-single-label\"}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Limit": "5000", "Status": "404 Not Found", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4932", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/nonexistentlabel", "status": {"code": 404, "message": "Not Found"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/nonexistentlabel"}}, {"recorded_at": "2016-10-31T19:55:49", "response": {"body": {"string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#get-a-single-label\"}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Limit": "5000", "Status": "404 Not Found", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4931", "X-RateLimit-Reset": "1477945589"}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv6", "status": {"code": 404, "message": "Not Found"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv6"}}]}