{"recorded_with": "betamax/0.8.0", "http_interactions": [{"recorded_at": "2016-11-01T15:47:18", "response": {"status": {"message": "Not Found", "code": 404}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/critical", "body": {"string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#get-a-single-label\"}", "encoding": "utf-8"}, "headers": {"X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Remaining": "4870", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Limit": "5000", "X-RateLimit-Reset": "1478017570", "X-GitHub-Media-Type": "github.v3; format=json", "Status": "404 Not Found", "X-Accepted-OAuth-Scopes": "repo"}}, "request": {"uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/critical", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}}, {"recorded_at": "2016-11-01T15:47:18", "response": {"status": {"message": "Not Found", "code": 404}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/nonexistentlabel", "body": {"string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#get-a-single-label\"}", "encoding": "utf-8"}, "headers": {"X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Remaining": "4869", "Content-Type": "application/json; charset=utf-8", "X-Accepted-OAuth-Scopes": "repo", "Status": "404 Not Found", "X-RateLimit-Reset": "1478017570", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "5000"}}, "request": {"uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/nonexistentlabel", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}}, {"recorded_at": "2016-11-01T15:47:19", "response": {"status": {"message": "Not Found", "code": 404}, "url": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv6", "body": {"string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#get-a-single-label\"}", "encoding": "utf-8"}, "headers": {"X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Remaining": "4868", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Limit": "5000", "X-RateLimit-Reset": "1478017570", "X-GitHub-Media-Type": "github.v3; format=json", "Status": "404 Not Found", "X-Accepted-OAuth-Scopes": "repo"}}, "request": {"uri": "https://api.github.com/repos/<USERNAME>/MI-PYT-TestRepo/labels/ipv6", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}}]}