{"http_interactions": [{"response": {"body": {"string": "{\"id\":459542380,\"url\":\"https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/bot\",\"name\":\"bot\",\"color\":\"0000ff\",\"default\":false}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Reset": "1477926436", "X-GitHub-Media-Type": "github.v3; format=json", "X-Accepted-OAuth-Scopes": "repo", "Last-Modified": "Tue, 11 Oct 2016 18:29:42 GMT", "Content-Type": "application/json; charset=utf-8", "ETag": "\"99ff7758227eed1066f8c74b723d5246\"", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-RateLimit-Remaining": "4897", "X-RateLimit-Limit": "5000", "Status": "200 OK"}, "status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/bot"}, "request": {"uri": "https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/bot", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}, "recorded_at": "2016-10-31T14:42:01"}, {"response": {"body": {"string": "{\"id\":459542256,\"url\":\"https://api.github.com/repos/pklejchbot/MI-PYT-TestRepo/labels/FIT\",\"name\":\"FIT\",\"color\":\"238cec\",\"default\":false}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Reset": "1477926436", "X-GitHub-Media-Type": "github.v3; format=json", "X-OAuth-Scopes": "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user", "X-Accepted-OAuth-Scopes[...]
