<!DOCTYPE html>
<html>
<head>
	<title>Usage of GitHub Issue Bot</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>

<h1>How to use GitHub Issue Bot</h1>
<ol>
	<li>Set your GitHub repository webhook to URL /hook.</li>
	<li>Set you secret in GitHub webhok.</li>
	<li>Fill 'auth.conf' configuration file:
        <ul>
		    <li>Access token.</li>
		    <li>Username of github bot.</li>
		    <li>Webhook secret.</li>
	    </ul>
    </li>
</ol>

</body>
</html>
